<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
              <div class="col-sm-6">
              
<!--               
                <ul class="messages hidden">
                <div class="customersOrders">
                  <% for(var i=0; i<messages.length; i++) {%>
                  
                  <li class="message customList">
                    <span><%= messages[i].decks %></span>
                    <span><%= messages[i].trucks %></span>
                    <span><%= messages[i].wheels %></span>
                    <span><%= messages[i].griptape %></span>   
                    <span><%= messages[i].hardware %></span> 
                    <span class="hidden"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <span class="hidden"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                    <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  </li>
                  <% } %>
                </div> -->
                  </ul>
                <h3><span>🛹</span> Build your complete skateboard!</h3>
                <form class="forumStuff" action="/messages" method="POST">
                  
                  <h2>Decks</h2>
                  <div>
                    <input type="radio" name="decks" value="Darkstar Deck">
                    <label for="darkstar">Dark Star</label>
                  </div>
                  <div>
                    <input type="radio" name="decks" value="Zooyork Deck">
                    <label for="zooyork">Zooyork Deck</label>
                  </div>
                  <div>
                    <input type="radio" name="decks" value="Element Deck">
                    <label for="element">Element Deck</label>
                  </div>
                  <h2>Trucks</h2>
                  <div>
                    <input type="radio" name="trucks" value="Darkstar Trucks">
                    <label for="darkstar">Darkstar trucks</label>
                  </div>
                  <div>
                    <input type="radio" name="trucks" value="Element Trcuks">
                    <label for="zooyork">Element trucks</label>
                  </div>
                  <div>
                    <input type="radio" name="trucks" value="Spitfire Trucks">
                    <label for="element">Spitfire trucks</label>
                  </div>
                  <h2>Wheels</h2>
                  <div>
                    <input type="radio" name="wheels" value="Darkstar Wheels">
                    <label for="darkstar">Darkstar Wheels</label>
                  </div>
                  <div>
                    <input type="radio" name="wheels" value="Element Wheels">
                    <label for="zooyork">Element Wheels</label>
                  </div>
                  <div>
                    <input type="radio" name="wheels" value="Spitfire Wheels" >
                    <label for="element">Spitfire Wheels</label>
                  </div>
                  <h2>Grip Tape</h2>
                  <div>
                    <input type="radio" name="griptape" value="Darkstar Griptape" >
                    <label for="darkstar">Darkstar Griptape</label>
                  </div>
                  <div>
                    <input type="radio" name="griptape" value="Element Griptape" >
                    <label for="zooyork">Element Griptape</label>
                  </div>
                  <div>
                    <input type="radio" name="griptape" value="Spitfire Griptape" >
                    <label for="element">Spitfire Griptape</label>
                  </div>
                  <h2>Hardware</h2>
                  <div>
                    <input type="radio" name="hardware" value="Almost Hardware" >
                    <label for="almost">Almost Hardware</label>
                  </div>
                  <div>
                    <input type="radio" name="hardware" value="Bones Hardware" >
                    <label for="bones">Bones Hardware</label>
                  </div>
                  <div>
                    <input type="radio" name="hardware" value="Diamond Hardware" >
                    <label for="diamond">Diamond Hardware</label>
                  </div>
                    <button class="submit"type="submit">Submit</button>
                </form>
                <!-- <form action="/combine" method="POST">
                  <h2>Skatebord Builder</h3>
                    <button type="submit">Submit</button>
                </form> -->
                
              </div>
<!--         
                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %> -->

            </div>
            <div class="col-sm-6">
              <h3>Completed Decks</h3>
            
              <ul class="messages">
              <div class="customersOrders">
                <% for(var i=0; i<messages.length; i++) {%>
                  <% const favorited =  messages[i].favorited %>
                <li class="customList message <%= favorited == true ? 'activeListItem' : 'unactiveListItem' %>">
                  <span><%= messages[i].decks %></span>
                  <span><%= messages[i].trucks %></span>
                  <span><%= messages[i].wheels %></span>
                  <span><%= messages[i].griptape %></span>
                  <span><%= messages[i].hardware %></span> 
                  <span class="hidden"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                  <span class="hidden"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                  <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-check" aria-hidden="true"></i></span>
                </li>
              <% } %>
            </div>
              </ul>
            
             
            <% if (user.local.email) { %>
              <form class="hidden" action="/messages" method="POST">
                <input type="text" value="<%= user.local.email %>" name="name">
                <input type="text" placeholder="message" name="msg">
                <button type="submit">Submit</button>
              </form>
            </div> 
            <% } %>
        </div>
       
        <!-- <form action="/messages" method="POST">
          <h2>Decks</h2>
          <div>
            <input type="radio" name="decks" value="Darkstar Deck">
            <label for="darkstar">Dark Star</label>
          </div>
          <div>
            <input type="radio" name="decks" value="Zooyork Deck">
            <label for="zooyork">Zooyork Deck</label>
          </div>
          <div>
            <input type="radio" name="decks" value="Element Deck">
            <label for="element">Element Deck</label>
          </div>
          <h2>Trucks</h2>
          <div>
            <input type="radio" name="trucks" value="Darkstar Trucks">
            <label for="darkstar">Darkstar trucks</label>
          </div>
          <div>
            <input type="radio" name="trucks" value="Element Trcuks">
            <label for="zooyork">Element trucks</label>
          </div>
          <div>
            <input type="radio" name="trucks" value="Spitfire Trucks">
            <label for="element">Spitfire trucks</label>
          </div>
          <h2>Wheels</h2>
          <div>
            <input type="radio" name="wheels" value="Darkstar Wheels">
            <label for="darkstar">Darkstar Wheels</label>
          </div>
          <div>
            <input type="radio" name="wheels" value="Element Wheels">
            <label for="zooyork">Element Wheels</label>
          </div>
          <div>
            <input type="radio" name="wheels" value="Spitfire Wheels">
            <label for="element">Spitfire Wheels</label>
          </div>
          <h2>Grip Tape</h2>
          <div>
            <input type="radio" name="griptape" value="Darkstar Griptape">
            <label for="darkstar">Darkstar Griptape</label>
          </div>
          <div>
            <input type="radio" name="griptape" value="Element Griptape">
            <label for="zooyork">Element Griptape</label>
          </div>
          <div>
            <input type="radio" name="griptape" value="Spitfire Griptape">
            <label for="element">Spitfire Griptape</label>
          </div>
          <h2>Hardware</h2>
          <div>
            <input type="radio" name="hardware" value="Almost Hardware">
            <label for="almost">Almost Hardware</label>
          </div>
          <div>
            <input type="radio" name="hardware" value="Bones Hardware">
            <label for="bones">Bones Hardware</label>
          </div>
          <div>
            <input type="radio" name="hardware" value="Diamond Hardware">
            <label for="diamond">Diamond Hardware</label>
          </div>
            <button type="submit">Submit</button>
        </form>
        <form action="/combine" method="POST">
          <h2>Skatebord Builder</h3>
            <button type="submit">Submit</button>
        </form>
      </div> -->
<script src="main.js"></script>

</body>
</html>
